<ion-content [scrollY]="false" fullscreen>
    <div class="container">
        <span class="title">Введите номер телефона</span>

        <ion-text color="medium">Чтобы войти или присоединиться к нам</ion-text>

        <ion-input class="input"
                   [color]="control.valid ? null : 'danger'"
                   [formControl]="control"
                   autocomplete="tel"
                   clearInput
                   uniPhoneInput
                   type="tel"
                   inputmode="tel">
        </ion-input>

        <ion-button (click)="handleSubmit()">Продолжить</ion-button>

        <div id="recaptcha-container" style="display: none"></div>
    </div>
</ion-content>
