<ion-tabs>
    <ion-tab-bar slot="bottom" translucent>
        <ion-tab-button tab="lobby">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Лобби</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="search">
            <ion-icon name="search-outline"></ion-icon>
            <ion-label>Поиск</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="messages">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <ion-label>Сообщения</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Профиль</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
