<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Найти</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Лайки</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Чаты</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
