<ion-content [scrollY]="false" fullscreen>
    <form class="container" [formGroup]="form" (ngSubmit)="handleSubmit()" novalidate>
        <span class="title">Введите номер телефона</span>

        <span class="description">Чтобы войти или присоединиться к нам</span>

        <ion-input class="input"
                   [color]="phoneControl.valid ? null : 'danger'"
                   mode="ios"
                   uniPhoneInput
                   type="tel"
                   inputmode="tel"
                   formControlName="phone">
        </ion-input>

        <ion-button mode="ios" type="submit">Продолжить</ion-button>
    </form>
</ion-content>
