<ion-content [scrollY]="false" fullscreen>
    <div class="container">
        <span class="title">Введите номер телефона</span>

        <span class="description">Чтобы войти или присоединиться к нам</span>

        <ion-input class="input"
                   [color]="control.valid ? null : 'danger'"
                   [formControl]="control"
                   [autofocus]="true"
                   [clearInput]="true"
                   [autocomplete]="true"
                   uniPhoneInput
                   type="tel"
                   inputmode="tel">
        </ion-input>

        <ion-button (click)="handleSubmit()">Продолжить</ion-button>

        <div id="recaptcha-container" style="display: none"></div>
    </div>
</ion-content>
