@import '~src/assets/styles/theming';

.header {
    @include header;
}

ion-content {
    --padding-start: 40px;
    --padding-end: 40px;
    --padding-top: 40px;
    --padding-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;

    .title {
        color: var(--ion-color-base);
        width: 100%;
        font-size: 24px;
        margin: 10px 0;
    }

    .input {
        @include input;
    }
}
