<ion-header class="header ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="signOut()">
                <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>О себе</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollY]="false">
    <form class="container" [formGroup]="form" (ngSubmit)="submit()">
        <ion-input class="input"
                   placeholder="Логин (не менее 5 символов...)"
                   formControlName="login"
                   autofocus
                   clearInput
        >
        </ion-input>
        <ion-text color="danger" *ngIf="login.hasError('loginExist')">Такой логин уже занят</ion-text>

        <ion-input class="input"
                   placeholder="Имя"
                   formControlName="firstName"
                   clearInput
        >
        </ion-input>

        <ion-input class="input"
                   placeholder="Фамилия"
                   formControlName="lastName"
                   clearInput
        >
        </ion-input>

        <ion-button type="submit" [disabled]="login.invalid || firstName.invalid || lastName.invalid">Продолжить</ion-button>
    </form>
</ion-content>
