@mixin header {
    padding-top: 10px;

    ion-toolbar {
        --background: none;
    }
}

@mixin input {
    border-bottom: 1px solid var(--ion-color-medium);

    &.has-focus {
        border-bottom: 1px solid var(--ion-color-primary) !important;
    }

    &.ion-color.ion-color-danger{
        border-bottom: 1px solid var(--ion-color-danger) !important;
    }
}
